name: Deploy Web App to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Configure SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.EC2_KEY }}" > ~/.ssh/ec2_key.pem
        chmod 600 ~/.ssh/ec2_key.pem
        ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

    - name: Deploy index.html to EC2
      run: |
        scp -i ~/.ssh/ec2_key.pem index.html \
        ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }}:/tmp/index.html

        ssh -i ~/.ssh/ec2_key.pem \
        ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} \
        "sudo mv /tmp/index.html /usr/share/nginx/html/index.html"

